<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Websocket Project</title>
<object th:include="fragments/resources :: head" th:remove="tag"></object>
</head>
<body>

  <div class="container">

    <h2>Italian Restaurant</h2>
    
    <br /><br /><br />

    <object th:include="fragments/waitermessages :: messages" th:remove="tag"></object>
    
    <br /><br />
    
    <object th:include="fragments/foodmenu :: menu" th:remove="tag"></object>

  </div>


</body>
</html>